#body {
  height:100%;
  width: 100%;
}

#reset-button {
  position: absolute;
  height:50px;
  width: 50px;
  margin-left:20px;
  margin-top:20px;
  border-radius: 360px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size:14px;
}


.color-box {
  height:25vh;
  width:25vh;
  margin-left:auto;
  margin-right:auto;
  margin-top:2%;
  border-radius: 7px;
  border: 2px solid black;
}

#input-section {
  display: flex;
  
  height:200px;
  width: 80vw;

  justify-content: space-evenly;

  margin-left:auto;
  margin-right:auto;
  padding-top: 5%;

  transform: scale(0.75);
}


#color-display-box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#calculate-button {
  /*
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;*/
  height:50px;
  width:200px;
  background-color:white;
  border-radius:10px;
  border:3px solid black;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#hint-button {
  height:50px;
  width: 50px;
  background-color: white;
  margin-right:20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius:360px;
  cursor: pointer;
}



#score {
  text-align: center;
}

#button-row {
  margin-top:30px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}